<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="../static/css/messages.css" />
    <title>Register</title>

</head>

<body>
    <section id="signup-section" class="section">
        <h2>Sign Up for Our Service</h2>
        <form id="signup-form" action="/register" method="POST" onsubmit="validatePasswords(event)">
            <% if (error && error.length> 0) { %>
                <div class="flash-message error">
                    <% error.forEach((msg)=> { %>
                        <p>
                            <%= msg %>
                        </p>
                        <% }) %>
                </div>
                <% } %>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" required>
                    </div>
                    <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </section>
    <script src="../static/js/register.js"></script>
    <script src="../static/js/messages.js"></script>
</body>

</html>